nav {
    background-color:rgb(221, 82, 39); 
    font-style:italic;
    font-weight:bold;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    display:inline-block;
}

a {
    color:rgb(102, 89, 13);
    padding: 0 10px;
    text-decoration:none;
}
a:hover {
    color: greenyellow;
    background-color:black;
}